<!DOCTYPE html>
<html lang="en">

<head>
  <title>Edit Event</title>
</head>

<body>
    <center>
        <%- include('./partials/navbar') %>
    </center>

  <h1>Edit Event Detail</h1>
  <div>
    <form action="/events/edit/<%= events.id %> " method="POST">
        <div>
            <label>Name</label>
            <div>
                <input type="text" name="name" value="<%= events.name  %>">
            </div>
        </div>
        <div>
            <label>Location</label>
            <div>
                <input type="text" name="location" value="<%= events.location  %>">
            </div>
        </div>
        <div>
            <label>Price</label>
            <div>
                <input type="number" name="price" value="<%= events.price %>">
            </div>
        </div>
        <div>
            <label>Capacity</label>
            <div>
                <input type="number" name="capacity" value="<%= events.capacity %>"><br>
            </div>
        </div>

        </div>
        <input type="submit" value="Edit">
    </form>
  </div>
</body>

</html>

