<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" href="/style.css" rel="stylesheet" />
    <title>User Profile</title>
  </head>
  <body>
    <center>
      <%- include('./partials/navbar') %>
  </center>
    <h1>Users Profile</h1>
    <table border>
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Password</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% for (let i = 0; i < users.length; i++) { %>
        <tr>
          <td><%= users[i].getFullName() %></td>
          <td><%= users[i].email %></td>
          <td><%= users[i].phone_number %></td>
          <td><%= users[i].password %></td>
          <td><a href='/users/edit/<%= users[i].id %>'>Edit</a> || <a href='/users/delete/<%= users[i].id %>'>Delete</a> || <a href='/users/events/<%= users[i].id %>'>See Events</a></td>
        
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
